.e-schedule .e-appointment-details {
  padding: 0 !important;
}

.template-wrap {
  background: #108ee9;
  width: 100%;
}

.none {
  text-decoration: none;
  color: gainsboro;
}

.none:hover {
  text-decoration: none;
  color: aliceblue;
}
