.login-column {
  background-color: #ffffff;
  padding-bottom: 10px;
  padding: 0%;
  height: auto;
}

.body-row-style {
  padding-bottom: 100px;
  margin-top: -220px;
}

body {
  background: #eee !important;
}

.wrapper {
  display: flex;
}

.btn {
  /* background-color: #739608; */
  color: white;
}

input.SignIn.placeholder {
  color: white;
}

.form-signin-heading {
  background-color: #739608;
  color: white;
  width: 100%;
  margin: 0;
}

.form-group {
  padding-left: 2vh;
  padding-right: 2vh;
}

.form-signin {
  margin: 0 auto;
  background-color: #fff;
  width: 100%;
  height: auto;
  padding-bottom: 5%;
}

.checkbox {
  font-weight: normal;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  box-sizing: (border-box);
}

input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.forget {
  text-align: center;
  font-size: 10pt;
}

/* More from login section 
It is for the login font title  */
.sign-in-title {
  background-color: #6b9712;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 25px;
}

.dashboardNames {
  color: #868982;
  font-weight: 500;
}

.manageLayout {
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 10px;
  padding-top: 10px;
}
a {
  color: #ffffff;
}
