.contentLayout {
  padding: 24 !important;
  margin: 0 !important;
  min-height: 580 !important;
}

/* for image slider */
.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
  margin-bottom: 20px;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

/* Sidebar properties we need to realocate this later on */
.sidebarProperty {
  color: #ffffff;
}
