/* #components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
} */

/* #components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
} */

/* #components-layout-demo-custom-trigger {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
} */

.logo {
  height: 65px;
  color: white;
  text-align: center;
  margin: 16px;
  font-weight: bolder;
}
.logo-bottom {
  /* background-color: aliceblue; */
  height: 35px;
  width: 180px;
  color: white;
  text-align: center;

  font-weight: bolder;
}
.site-layout {
  background: rgb(240, 242, 245);
}

/* .site-layout-background {
  background: #ffff;
} */

.nav_bar {
  background: #ffff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

/* .nav_bar_toggle {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
} */

/*
pending page
*/
.site-page-header-responsive {
  /* border: 1px solid rgb(235, 237, 240); */
  border-top: 1px solid #dddd;
}

.hideDate {
  display: none;
}
