#file holds system startup info

#default user, will be added to the system on startup if not already present
username=default@fakemail.com
password=asdf
firstname="fn"
lastname="ln"

#teams
#list the file names of the .csvs you want to added seperated by commas
#each file must contain teams of the same district, district gets it's name from the file name
#that is to say teams=d0.csv,d1.csv,d2.csv,d3.csv
#teams in d0 will be in a district named d0, teams in d1 will be in d1, ext.
#csvs must be schoolname, teamname, arbitername, teamclass, teamgender
teams=North Louisiana.csv

#if you have a path all the team csvs are in uncomment and put them here
#tpath=myPath/toTeams